<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>HadaLogin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UserJoinServlet</servlet-name>
    <servlet-class>user.UserJoinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserJoinServlet</servlet-name>
    <url-pattern>/userJoin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>user.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/userUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRePasswordServlet</servlet-name>
    <servlet-class>user.UserRePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRePasswordServlet</servlet-name>
    <url-pattern>/userRePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserWriteIDServlet</servlet-name>
    <servlet-class>user.UserWriteIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserWriteIDServlet</servlet-name>
    <url-pattern>/userWriteID</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRegisterCheckServlet</servlet-name>
    <servlet-class>user.UserRegisterCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterCheckServlet</servlet-name>
    <url-pattern>/userRegisterCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserAdminPlus</servlet-name>
    <servlet-class>user.UserAdminPlus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAdminPlus</servlet-name>
    <url-pattern>/userAdminPlus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserGetNameServlet</servlet-name>
    <servlet-class>user.UserGetNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserGetNameServlet</servlet-name>
    <url-pattern>/userGetNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserAdminJoinServlet</servlet-name>
    <servlet-class>user.UserAdminJoinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAdminJoinServlet</servlet-name>
    <url-pattern>/userAdminJoin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DepartrAddServlet</servlet-name>
    <servlet-class>departr.DepartrAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartrAddServlet</servlet-name>
    <url-pattern>/departrAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DepartrDelServlet</servlet-name>
    <servlet-class>departr.DepartrDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartrDelServlet</servlet-name>
    <url-pattern>/departrDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DepartrUpdateServlet</servlet-name>
    <servlet-class>departr.DepartrUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartrUpdateServlet</servlet-name>
    <url-pattern>/departrUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsteadUpdateServlet</servlet-name>
    <servlet-class>subj.InsteadUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsteadUpdateServlet</servlet-name>
    <url-pattern>/insteadUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentMemoServlet</servlet-name>
    <servlet-class>studentMemo.StudentMemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentMemoServlet</servlet-name>
    <url-pattern>/studentMemoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentMContentServlet</servlet-name>
    <servlet-class>studentMemo.StudentMContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentMContentServlet</servlet-name>
    <url-pattern>/studentMContentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsteadDelServlet</servlet-name>
    <servlet-class>subj.InsteadDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsteadDelServlet</servlet-name>
    <url-pattern>/insteadDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserDelServlet</servlet-name>
    <servlet-class>user.UserDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDelServlet</servlet-name>
    <url-pattern>/userDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CultureUpdateServlet</servlet-name>
    <servlet-class>subj.CultureUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CultureUpdateServlet</servlet-name>
    <url-pattern>/cultureUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CultureDelServlet</servlet-name>
    <servlet-class>subj.CultureDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CultureDelServlet</servlet-name>
    <url-pattern>/cultureDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsteadAddServlet</servlet-name>
    <servlet-class>subj.InsteadAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsteadAddServlet</servlet-name>
    <url-pattern>/insteadAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CultureAddServlet</servlet-name>
    <servlet-class>subj.CultureAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CultureAddServlet</servlet-name>
    <url-pattern>/cultureAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminScoreAddServlet</servlet-name>
    <servlet-class>adminScore.adminScoreAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminScoreAddServlet</servlet-name>
    <url-pattern>/adminScoreAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminScoreUpdateServlet</servlet-name>
    <servlet-class>adminScore.adminScoreUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminScoreUpdateServlet</servlet-name>
    <url-pattern>/adminScoreUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminScoreDelServlet</servlet-name>
    <servlet-class>adminScore.adminScoreDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminScoreDelServlet</servlet-name>
    <url-pattern>/adminScoreDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminGetScoreServlet</servlet-name>
    <servlet-class>adminScore.adminGetScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminGetScoreServlet</servlet-name>
    <url-pattern>/adminGetScore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userClassDelServlet</servlet-name>
    <servlet-class>userClass.userClassDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userClassDelServlet</servlet-name>
    <url-pattern>/userClassDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userClassAddServlet</servlet-name>
    <servlet-class>userClass.userClassAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userClassAddServlet</servlet-name>
    <url-pattern>/userClassAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MajorInsteadServlet</servlet-name>
    <servlet-class>userClass.MajorInsteadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MajorInsteadServlet</servlet-name>
    <url-pattern>/majorInstead</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsteadUpdateServlet2</servlet-name>
    <servlet-class>insteadSubj.InsteadUpdateServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsteadUpdateServlet2</servlet-name>
    <url-pattern>/insteadUpdate2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsteadDelServlet2</servlet-name>
    <servlet-class>insteadSubj.InsteadDelServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsteadDelServlet2</servlet-name>
    <url-pattern>/insteadDel2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsteadAddServlet2</servlet-name>
    <servlet-class>insteadSubj.InsteadAddServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsteadAddServlet2</servlet-name>
    <url-pattern>/insteadAdd2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsteadGetServlet2</servlet-name>
    <servlet-class>insteadSubj.InsteadGetServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsteadGetServlet2</servlet-name>
    <url-pattern>/insteadGet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsteadCommitServlet</servlet-name>
    <servlet-class>insteadSubj.InsteadCommitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsteadCommitServlet</servlet-name>
    <url-pattern>/insteadCommitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BoardWriteServlet</servlet-name>
    <servlet-class>board.BoardWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardWriteServlet</servlet-name>
    <url-pattern>/boardWriteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BoardUpdateServlet</servlet-name>
    <servlet-class>board.BoardUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardUpdateServlet</servlet-name>
    <url-pattern>/boardUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BoardDeleteServlet</servlet-name>
    <servlet-class>board.BoardDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardDeleteServlet</servlet-name>
    <url-pattern>/boardDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BoardReplyServlet</servlet-name>
    <servlet-class>board.BoardReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardReplyServlet</servlet-name>
    <url-pattern>/boardReply</url-pattern>
  </servlet-mapping>
</web-app>